<a href="https://colab.research.google.com/github/j-hossain/cicidsDatasetTesting/blob/main/cicidsDatasetTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np

Run next blocks only when there is nothing in the content folder

In [3]:
# first upload the kaggle api key to fetch dataset
from google.colab import files
apiKey = files.upload()

In [4]:
!pwd

/content

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content"

In [6]:
! chmod 600 /content/kaggle.json

In [5]:
! kaggle datasets download solarmainframe/ids-intrusion-csv

ids-intrusion-csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
!mkdir dataset

In [8]:
! unzip /content/ids-intrusion-csv.zip -d '/content/dataset'

Archive:  /content/ids-intrusion-csv.zip
  inflating: /content/dataset/02-14-2018.csv
  inflating: /content/dataset/02-15-2018.csv
  inflating: /content/dataset/02-16-2018.csv
  inflating: /content/dataset/02-20-2018.csv
  inflating: /content/dataset/02-21-2018.csv
  inflating: /content/dataset/02-22-2018.csv
  inflating: /content/dataset/02-23-2018.csv
  inflating: /content/dataset/02-28-2018.csv
  inflating: /content/dataset/03-01-2018.csv
  inflating: /content/dataset/03-02-2018.csv

Run from this block if files exist

In [2]:
day2 = pd.read_csv('/content/dataset/02-15-2018.csv')
day3 = pd.read_csv('/content/dataset/02-16-2018.csv')
day9 = pd.read_csv('/content/dataset/03-01-2018.csv')
day10 = pd.read_csv('/content/dataset/03-02-2018.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
merged_ds = pd.concat([day2,day3,day9,day10],axis=0,ignore_index=True)

In [4]:
day9=day2=day3=day10=''

In [6]:
merged_ds.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,15/02/2018 08:25:18,112641158,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320579.0,704.278354,56321077,56320081,Benign
1,22,6,15/02/2018 08:29:05,37366762,14,12,2168,2993,712,0,...,32,1024353.0,649038.754495,1601183,321569,11431221.0,3644990.559845,15617415,8960247,Benign
2,47514,6,15/02/2018 08:29:42,543,2,0,64,0,64,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,Benign
3,0,0,15/02/2018 08:28:07,112640703,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320351.5,366.988419,56320611,56320092,Benign
4,0,0,15/02/2018 08:30:56,112640874,3,0,0,0,0,0,...,0,0.0,0.0,0,0,56320437.0,719.834703,56320946,56319928,Benign

In [7]:
merged_ds['Label'].unique()

array(['Benign', 'DoS attacks-GoldenEye', 'DoS attacks-Slowloris',
       'DoS attacks-SlowHTTPTest', 'DoS attacks-Hulk', 'Label',
       'Infilteration', 'Bot'], dtype=object)

In [8]:
merged_ds['Label'].value_counts()

Benign                      2443270
DoS attacks-Hulk             461912
Bot                          286191
DoS attacks-SlowHTTPTest     139890
Infilteration                 93063
DoS attacks-GoldenEye         41508
DoS attacks-Slowloris         10990
Label                            26
Name: Label, dtype: int64

In [ ]:
merged_ds.info()

In [13]:
merged_ds.shape

(3476850, 80)

In [ ]:
merged_ds.describe()

In [16]:
merged_ds.isnull()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3476845,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3476846,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3476847,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3476848,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3476849,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
merged_ds.drop('Timestamp',axis=1,inplace=True)

In [6]:
merged_ds.drop(['Bwd PSH Flags','Bwd URG Flags','Fwd Byts/b Avg','Fwd Pkts/b Avg','Fwd Blk Rate Avg','Bwd Byts/b Avg','Bwd Pkts/b Avg','Bwd Blk Rate Avg'],axis=1,inplace=True)

In [8]:
merged_ds['Flow Pkts/s']= merged_ds['Flow Pkts/s'].fillna(0)  # removing NAN and INF values
merged_ds['Flow Byts/s']= merged_ds['Flow Byts/s'].fillna(0)
merged_ds['Flow Pkts/s']= merged_ds['Flow Pkts/s'].replace(np.Infinity,1)
merged_ds['Flow Byts/s']= merged_ds['Flow Byts/s'].replace(np.Infinity,1)

In [9]:
class dataset:
    pass
dataset.train = merged_ds.groupby('Label').apply(pd.DataFrame.sample, frac=0.8).reset_index(level='Label', drop=True)
dataset.test = merged_ds.drop(dataset.train.index)
dataset.label = dataset.train.Label.copy()